
<form>
    <div class="mb-4">
        <label for="drugName" class="block text-gray-700 text-sm font-bold mb-2">Brand Name:</label>
        <input type="text" id="drugName" name="drugName" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Category:</label>
        <select id="category" name="category" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option value="" disabled selected>Select Category</option>
            <option value="analgesics">Analgesics</option>
            <option value="antibiotics">Antibiotics</option>
            <option value="antidiabetic">Antidiabetic</option>
            <!-- Add more options for other categories -->
        </select>
    </div>
    <div class="mb-4">
        <label for="quantity" class="block text-gray-700 text-sm font-bold mb-2">Quantity:</label>
        <input type="number" id="quantity" name="quantity" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Expiration Date:</label>
        <input type="date" id="date" name="expireDate" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>                           
    <div class="mb-4">
        <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Cost Price:</label>
        <input type="text" id="drugName" name="drugName" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Add Inventory
        </button>
    </div>
</form>