{% load static %}


{% for item in items %}
<tr class="in-tbl__row">

    <td class="in-tbl__data">

      <div class="in-d-flex in-align-center">

        <div class="in-mg-r-10">
          <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt="" class="in-avat__img">
          </div>
        </div>

        <div class="user-details">
          <span class="in-fs-14 in-fw-bld in-d-block">{{ item.name }}</span>
          <!-- <span class="in-fs-12">Jackson D.</span> -->
        </div>

      </div>

    </td>

    <td class="in-tbl__data">{{ item.i_type }}</td>

    <td class="in-tbl__data">{{ item.category }}</td>
    <td class="in-tbl__data">{{ item.created_by }}</td>
    <td class="in-tbl__data">{{ item.created_at}}</td>
    <td class="in-tbl__data">{{ item.updated_at }}</td>
    <td class="in-tbl__data">{{ item.unit }}</td>
    <td class="in-tbl__data">{{ item.minimum_stock_level }}</td>
    <td class="in-tbl__data">{{ item.re_order_point }}</td>
    <td class="in-tbl__data">{{ item.re_order_quauntity }}</td>
    <td class="in-tbl__data">{{ item.get_recall_policy }}</td>
    <td class="in-tbl__data">{{ item.get_expiration_policy }}</td>
    {% include "common/htmx/table_actions.html" %}
    <!-- <td class="in-tbl__data"><span class="ease-level-silver in-fw-md">Silver</span></td> -->
  </tr>
  {% endfor %}