{% load bootstrap5 %}

{% load static %}


<style>
    .add-cat{
        color: #111;
        
        margin-left: -5px;
        background-color: transparent;
        cursor: pointer;
        align-items: center;
        text-align: center;
    }
</style>
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class=" class="form in-d-flex  in-align-center in-justify-center">
  <div class="card">
      <div class="card-body " >
          <div class="card-body">
            <h3 class="card-title in-d-flex in-justify-between"><span>{{ title }}</span> <button onclick="closeContent(this)" class="in-btn in-btn-sq"><i data-target="{{ model_label }}-form"  class="ri ri-close-circle-line  " style="color: #111;"></i></button> </h3>
            <div class="col-lg-12 col-md-12 col-sm-12">

              <div class="row in-d-flex in-align-center in-justify-center">
                {% for field in form %}
                    {% if field.name == 'category' %}
                      <div class="col-md-3 col-sm-6 in-d-flex in-align-center ">
                        <div class="col-10">
                            {% bootstrap_field field %}
                        </div>
                        <button  hx-target="#dialog"   hx-get="{% url 'inventory:add_inventory_category'  %}" hx-trigger="click"  class="col-3  add-cat" type="button"">
                          <i class="col-3 ri  in-fw-bld ri-add-circle-fill in-fs-20 "></i>
                        </button>
                      </div>

                    {% elif field.name == 'unit' %}
                      <div class="col-md-3 col-sm-6 in-d-flex in-align-center ">
                        <div class="col-10">
                            {% bootstrap_field field %}
                        </div>
                        <button  hx-target="#dialog"   hx-get="{% url 'common:add_unit'  %}" hx-trigger="click"  class="col-3  add-cat" type="button"">
                          <i class="col-3 ri  in-fw-bld ri-add-circle-fill in-fs-20 "></i>
                        </button>
                      </div>
                    {% elif field.name == 'description' %}
                    <div class="col-md-6 col-sm-12">
                      {% bootstrap_field field %}
        
                    </div>
                    {% else %}
                    <div class="col-md-3 col-sm-6">
                      {% bootstrap_field field %}
        
                    </div>
                    {% endif %}
                {% endfor %}
                {% buttons %}
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                {% endbuttons %}
              </div>
            </div>
              
          </div>                 
        </div>
</form>
