{% load static %}


<div class="in-card__body in-pd-0">

    <div class="in-overflow-auto">

      <table class="in-tbl">

        <thead class="in-tbl__header">
          <tr class="in-tbl__row">
            {% if table_heads %}
            {% for head in table_heads %}
            {% for key, value in head.items %}
            <th class="in-tbl__head  in-justify-between" >
              <span  >{{ value }}</span>
                <i class="ri ri-arrow-up-line" data-order-by="{{ key }}"></i>
                <i class="ri ri-arrow-down-line " data-order-by="-{{ key }}"></i>
            </th>

            {% endfor %}
            {% endfor %}
            <th class="in-tbl__head">Action</th>
            {% else %}
            <th class="in-tbl__head">Project</th>
            <th class="in-tbl__head">Project</th>

            <th class="in-tbl__head">Joined</th>
            <th class="in-tbl__head">Spend</th>
            <th class="in-tbl__head">Level</th>
            {% endif %}
          </tr>
        </thead>

        <tbody class="in-tbl__body">
          {% if model_label == 'inventory' %}
            {% include "inventory/inventory_table_data.html" %}
            
          {% else %}
          <tr class="in-tbl__row">

            <!-- <td class="in-tbl__data">

              <div class="in-d-flex in-align-center">

                <div class="in-mg-r-10">
                  <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt=""
                      class="in-avat__img">
                  </div>
                </div>

                <div class="user-details">
                  <span class="in-h5 in-d-block">FitPro</span>
                  <span class="in-fs-12">John D.</span>
                </div>

              </div>

            </td> -->

            <td class="in-tbl__data">FitPro website analysis</td>

            <td class="in-tbl__data">July 16, 2023</td>
            <td class="in-tbl__data">$27,345.98</td>
            <td class="in-tbl__data"><span class="ease-level-gold in-fw-md">Gold</span></td>
          </tr>

          <tr class="in-tbl__row">

            <td class="in-tbl__data">

              <div class="in-d-flex in-align-center">

                <div class="in-mg-r-10">
                  <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt="" class="in-avat__img">
                  </div>
                </div>

                <div class="user-details">
                  <span class="in-h5 in-d-block">EatPro</span>
                  <span class="in-fs-12">Jackson D.</span>
                </div>

              </div>

            </td>

            <td class="in-tbl__data">Website design for EatPro</td>

            <td class="in-tbl__data">July 16, 2023</td>
            <td class="in-tbl__data">$17,345.98</td>
            <td class="in-tbl__data"><span class="ease-level-silver in-fw-md">Silver</span></td>
          </tr>

          <tr class="in-tbl__row">

            <td class="in-tbl__data">

              <div class="in-d-flex in-align-center">

                <div class="in-mg-r-10">
                  <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt="" class="in-avat__img">
                  </div>
                </div>

                <div class="user-details">
                  <span class="in-h5 in-d-block">Nike</span>
                  <span class="in-fs-12">Riley R.</span>
                </div>

              </div>

            </td>

            <td class="in-tbl__data">Marketing &amp; branding</td>

            <td class="in-tbl__data">July 16, 2023</td>
            <td class="in-tbl__data">$47,345.98</td>
            <td class="in-tbl__data"><span class="ease-level-gold in-fw-md">Gold</span></td>
          </tr>

          <tr class="in-tbl__row">

            <td class="in-tbl__data">

              <div class="in-d-flex in-align-center">

                <div class="in-mg-r-10">
                  <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt="" class="in-avat__img">
                  </div>
                </div>

                <div class="user-details">
                  <span class="in-h5 in-d-block">Instacart</span>
                  <span class="in-fs-12">Williams W.</span>
                </div>

              </div>

            </td>

            <td class="in-tbl__data">Marketing &amp; branding</td>

            <td class="in-tbl__data">July 16, 2023</td>
            <td class="in-tbl__data">$22,345.98</td>
            <td class="in-tbl__data"><span class="ease-level-gold in-fw-md">Gold</span></td>
          </tr>

          <tr class="in-tbl__row">

            <td class="in-tbl__data">

              <div class="in-d-flex in-align-center">

                <div class="in-mg-r-10">
                  <div class="in-avat in-avat-30"><img src="{% static 'assets/dashboard/images/fitness-sm.jpg' %}" alt="" class="in-avat__img">
                  </div>
                </div>

                <div class="user-details">
                  <span class="in-h5 in-d-block">Amazon</span>
                  <span class="in-fs-12">Jeff B.</span>
                </div>

              </div>

            </td>

            <td class="in-tbl__data">Wireframe for Amazon App</td>

            <td class="in-tbl__data">July 16, 2023</td>
            <td class="in-tbl__data">$12,345.98</td>
            <td class="in-tbl__data"><span class="ease-level-silver in-fw-md">Silver</span></td>
          </tr>

        {% endif %}
        </tbody>

      </table>

    </div>

  </div>