{% load static %}


<div class="in-card__body in-pd-0">

    <div class="in-overflow-auto">

      <table class="in-tbl">

        <thead class="in-tbl__header">
          <tr class="in-tbl__row">
            {% if table_heads %}
            {% for head in table_heads %}
            {% for key, value in head.items %}
            <th class="in-tbl__head  in-justify-between" >
              <span  >{{ value }}</span>
                <i class="ri ri-arrow-up-line"onclick="updateQueryParam(this,'order_by', '{{ key }}')" data-app="{{app_label }}" data-model="{{model_label}}"></i>
                <i class="ri ri-arrow-down-line "onclick="updateQueryParam(this, 'order_by', '-{{ key }}')" data-app="{{app_label }}" data-model="{{model_label}}"></i>
            </th>

            {% endfor %}
            {% endfor %}
            <th class="in-tbl__head">Action</th>
            {% else %}
           
            {% endif %}
          </tr>
        </thead>

        <tbody class="in-tbl__body">
          {% if model_label == 'inventory' or model_label == 'inventorycategory' %}
          
            {% include "common/htmx/item_details.html" %}
            
          {% else %}
          

        {% endif %}
        </tbody>

      </table>

    </div>

  </div>
