
{% load static %}

<section id="sectionList" data-title="{{ title }}" class="ease-client-overview in-pd-y-20">

    <div class="in-card ease-client">

      <div class="in-card__header in-d-flex in-justify-between">
        
        <span class="in-card__title in-fw-bld" hx->{{ title }} overview</span>
        <div class="in-header__form">
                        
          <form class="in-form">
              <div class="in-form__group">
              <input type="text" class="in-form__input" placeholder="Search...">
              <i class="ri-search-line in-form__icon"></i>
              </div>
          </form>
      </div>

        <div class="in-actions in-d-flex ">
            {% if user.company %}
                <a href="" class="in-card__title in-fw-bld in-btn-primary in-btn in-btn-sq" hx-target="#main-container-div-form" hx-target="#{{ model_label }}-content" hx-get="{% url 'common:add_item' app_label user.company.encrypted_id model_label %}" style="text-decoration: none;"> <i class="ri in-fs-20 ri-add-circle-fill"></i> </a>
            {% elif user.profile %}    
                <a href="" style="text-decoration: none;" class="in-card__title in-fw-bld in-btn-primary in-btn in-btn-sq" data-target-div="{{ model_label }}-form" hx-target="#{{ model_label }}-form" hx-get="{% url 'common:add_item' app_label user.profile.encrypted_id model_label %}"> <i class="ri in-fs-20 ri-add-circle-fill"></i> </a>
            {% endif %}


        </div>
      </div>
      {% if table_heads %}

      {% include "common/htmx/table_partial.html" %}
      {%else %}
      
      <h2 class="in-h2">No content yet </h2>

      {% endif %}
    </div>

    <nav aria-label="Page navigation" >
      <ul class="pagination justify-content-center in-pd-10">
          {% url 'common:item_list' app_label user.company.encrypted_id model_label as base_url %}
          {% if page_obj.has_previous %}
              <li class="page-item in-pd-10" >
                  <a class="page-link" 
                     hx-get="{{ base_url }}?page={{ page_obj.previous_page_number }}" 
                     hx-target="#main-container-div-content" 
                     hx-swap="innerHTML" 
                     href="#" hx-push-url="true">Previous</a>
              </li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
              <li class="page-item in-pd-10 {% if page_obj.number == num %}active{% endif %}">
                  <a class="page-link" 
                     hx-get="{{ base_url }}?page={{ num }}" 
                     hx-target="#main-container-div-content" 
                     hx-swap="innerHTML" 
                     href="#" hx-push-url="true">{{ num }}</a>
              </li>
          {% endfor %}
          {% if page_obj.has_next %}
              <li class="page-item in-pd-10">
                  <a class="page-link" 
                     hx-get="{{ base_url }}?page={{ page_obj.next_page_number }}" 
                     hx-target="#main-container-div-content" 
                     hx-swap="innerHTML" 
                     href="#"  hx-push-url="true">Next</a>
              </li>
          {% endif %}
      </ul>
  </nav>
  <!-- <div class="main-container-div-form " style="margin-top: 2rem;"id="main-container-div-form"></div> -->

  
</section>


<script>
  
function getItems(url="{% url 'common:item_list' app_label user.company.encrypted_id model_label  %}"){
    
    htmx.ajax('GET', url,{target:'#main-container-div-content'})
    console.log('gotten')    
}

function updateItems(){
    console.log('updateItems')
    const _variables={
    model_name:"{{ model_label }}",
    app_name:"{{ app_label }}"

    }
    const modelDiv= document.getElementById("main-container-div-content")

    if (document.getElementById(`delete-form`)){
      console.log('delete-form')
      document.getElementById(`delete-form`).addEventListener('htmx:afterOnLoad',()=>{
        
        console.log('deleted')
        getItems()

    })
    }

    if (document.getElementById(`main-container-div-form`)){
        const modelForm= document.getElementById(`main-container-div-form`)
        console.log(modelDiv)
    modelForm.addEventListener('htmx:afterOnLoad',()=>{
        console.log('Item added')

        getItems()
        
    })
    }

}

updateItems();
function saveOrderingPreference(item,order) {
  localStorage.setItem(`${item}_odering`, order);
}
function getOrderingPreference(item) {
  return localStorage.getItem(`${item}_odering`) || null ;
}

function companyID(){
  
  if ('{{user.company }}'){
    return "{{user.company.encrypted_id}}"
    
  }
  else if ('{{user.profile }}'){
    return "{{user.profile.encrypted_id}}"
  }
    
}

function updateQueryParam(button,param, value) {
  const app_label=button.getAttribute('data-app')
  const model_label=button.getAttribute('data-model')
  if (param === 'order_by'){
    saveOrderingPreference(model_label,value)

    const listUrl= `/list/${app_label}/${companyID()}/${model_label}/?${param}=${value}`
    getItems(listUrl)
  }
  else if (param === 'filter'){
    const listUrl= `/list/${app_label}/${companyID()}/${model_label}/?order_by=${getOrderingPreference(model_label)}&filter_field=${value}&${param}=${1}`
    getItems(listUrl)

    }

  }
</script>

<!-- <script src="{% static 'assets/js/itemsList.js' %}"></script> -->
<!-- https://youtu.be/CfUUtwF47ko?si=ACdneS3pgWwN6e1d
https://youtube.com/playlist?list=PL3eV-nce_-TN2WZtlFiWVDzfN8BzB6SE8&si=0kMQ4xdRdVlyEi6k
https://youtube.com/playlist?list=PL3eV-nce_-TNEXZEiozid8uRSwJDsZyEG&si=Fdep6LOzqY-8_UVP
https://youtube.com/playlist?list=PL3eV-nce_-TNGvmuyoc8-gDdie_0rzCxV&si=5wyj7jkH87To_wq6
https://youtube.com/playlist?list=PLhTjy8cBISEoQQLZ9IBlVlr4WjVoStmy-&si=V5mXIZYmYp_86WnY
https://youtube.com/playlist?list=PLRUcPloZy-I9Tus0vwwD_LFRRv9bUd63O&si=ynjnRF6ICrslVmM5 -->
<!-- https://youtu.be/WbNNESIxJnY?si=w7q9clqB-QawZc_J -->