{% load static %}
<header class="in-header in-header-fixed in-d-flex in-justify-between in-align-center">
    <div class="in-container">
            <nav class="in-header__nav in-d-flex in-justify-between in-align-center">
                <div class="in-header__left in-d-flex in-align-center in-mg-r-10 in-mg-0-md">
                    <div class="in-header__mobile in-mg-r-10 in-d-none-md">
                        
                    </div>
                    <div class="in-header__form">
                        
                        <form class="in-form">
                            <div class="in-form__group">
                            <input type="text" class="in-form__input" placeholder="Search...">
                            <i class="ri-search-line in-form__icon"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- left header part ends -->



                {% if user.is_authenticated %}
                <div class="in-header__right in-d-flex in-align-center ">
                    
                    <div class="in-dropdown in-dropdown-abs-right in-d-in-flex in-mg-r-20">
                        <button type="button" class="in-btn in-btn-secondary in-btn-sq"data-dropdown-target="settings">
                            <i class="bi bi-gear"></i>         
                        </button>
                  {% include 'dashboard/wrapper/settings.html' %}
                  
                
                    <div class="in-dropdown in-dropdown-abs-right in-d-in-flex in-mg-l-10">
                        <button type="button" class="in-btn in-btn-secondary in-btn-sq"data-dropdown-target="notifications">
                            <i class="bi bi-bell"></i>
                            <div class="in-bdg in-bdg-danger" style="color: #be123c;">6</div>
                        </button>
                            {% include 'dashboard/wrapper/notifications.html' %}
                    </div>
                    
                    <div class="in-dropdown in-dropdown-abs-right in-d-in-flex in-mg-l-10">
                        <button type="button" class="in-avat in-avat-35"data-dropdown-target="profile">
                        <img src="{% static 'assets/dashboard/images/user-f-1.jpg' %}" alt="" class="in-avat__img">
                        </button>
                            {% include 'dashboard/wrapper/profile.html' %}
                    </div>
                </div>
            </nav>
            {% else%}
            <div class="in-d-flex">
                <a class="nav-link in-fs-14 in-fw-bld in-btn in-btn-secondary  in-d-flex"style="width: 5.5rem;" href="{% url 'account:signin' %}"> Signin</a>

                <a class="nav-link in-fs-14 in-fw-bld in-d-flex in-btn in-btn-primary in-mg-l-10" style="width: 6.5rem;" href="{% url 'account:signup' %}"> Register</a>
            </div>
                
            {% endif %}
        
    </div>
</header>
{% include 'dashboard/wrapper/sidebar.html' %}
