<div class="in-dropdown__menu" id="notifications">
    <div class="dropdown-header in-pd-20">
        <h4 class="in-fw-bld">Notifications</h4>
    </div>
    <ul class="dropdown-content">
        <li class="dropdown-list">
            <a href="#" class="dropdown-link in-d-block in-pd-x-20 in-pd-y-10">
                <span class="notice-time in-fs-12">4:56 pm</span>
                <span class="noticin-content in-fs-14 in-fw-bld">
                    Nkiruro order just dropped! check it out
                </span>
            </a>
        </li>
    </ul>
    <div class="dropdown-footer in-pd-20">
        <button type="button" class="in-btn in-btn-secondary in-btn-link">Mark all as read</button>
    </div>
</div>