{% load static %}
{% load model_tags %}





<div class="in-sidebar" id="sidebar">
  <div class="logo-content">
    <div class="logo-name">
      <img src="{% static 'images/logos/dark-inventory.png' %}" class="in-logo" alt="">
    </div>
    
    <i class="ri ri-menu-line in-fs-20 in-fw-bld" id="btn"></i>
  </div>
  
  <ul class="in-nav-list nav nav-pills flex-column mb-auto">
    <li class="e-header__list">
      <a href="#" class="in-nav-link nav-link">
        <i class="ri ri-dashboard-line in-fs-20 in-fw-bld"></i>
        
        <span class="nav-link__name in-fs-16 in-fw-bld">{{ user.company.name  }} {{  user.profile.name }}</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    
    <li class="">
      <a href="#submenu1" id="apps_list" class="in-nav-link nav-link link-light e-header__link e-active  e-tt-uppercase e-fs-14 e-fw-bld has-submenu " data-bs-toggle="collapse">
        <i class="ri ri-apps-line in-fs-20 in-fw-bld i-first"></i>
        <div class="has_submenu">
          <span class="nav-link__name in-fs-16 in-fw-bld menu-title ">APPS</span>
          <i class="ri ri-arrow-drop-right-line in-fs-20 in-fw-bld dir-to" id="apps_list-dir"></i>
          
        </div>
      </a>
      {% model_list user %}

    </li>
    
    <li class="nav-item">
      <a href="#" class="in-nav-link nav-link">
        <i class="ri ri-bar-chart-grouped-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">CHARTS</span>
      </a>
    </li>
    
    <li class="">
      <a href="#" class="in-nav-link nav-link">
        <!-- <i class="bi bi-truck in-fs-20 in-fw-bld"></i> -->
        <i class="ri ri-truck-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Suppliers</span>
      </a>
    </li>
    
    <li class="">
      <a href="#" class="in-nav-link nav-link ">
        <i class="ri ri-team-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Staff</span>
      </a>
    </li>
    
    
    <li class="">
      <a href="#" class="in-nav-link nav-link">
        <i class="ri ri-money-dollar-box-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Currencies</span>
      </a>
    </li>
    
    <li class="">
      <a href="#" class="in-nav-link nav-link ">
        <i class="ri ri-user-search-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Activities</span>
      </a>
    </li>
    
    <li class="">
      <a href="#" class="in-nav-link nav-link">
        <i class="ri ri-task-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Tasks</span>
      </a>
    </li>
    <li class="">
      <a href="#" class="in-nav-link nav-link ">
        <i class="ri-chat-3-line in-fs-20 in-fw-bld"></i>
        <i class="ri ri-chat-fill "></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Messages</span>
      </a>
    </li>
    
    
    <li class="">
      <a href="{% url 'accounts:logout' %}" class="in-nav-link nav-link">
        <i class="ri-logout-circle-r-line in-fs-20 in-fw-bld"></i>
        <span class="nav-link__name in-fs-16 in-fw-bld">Logout</span>
      </a>
    </li> 
       

    
    
    
  </ul>
</div>

<script>
  const btn= document.getElementById('btn')
  const sidebar= document.getElementById('sidebar')
  const hasSubmenus= document.querySelectorAll('.has-submenu')
  const dirsTo= document.querySelectorAll('.dir-to')
  document.body.addEventListener('click',(e)=>{
    if (!sidebar.contains(e.target)){
      if (sidebar.classList.contains('active')){
        sidebar.classList.remove('active')
      }
    }
  })

  btn.onclick=function(){
    sidebar.classList.toggle('active')
  }
hasSubmenus.forEach((item,index)=>{
  item.addEventListener('click',()=>{
    
    dirsTo.forEach((item2,index2)=>{
      if (index2 === index2 ){
        if (item2.classList.contains('ri-arrow-drop-right-line')){
          if (sidebar.classList.contains('active')){}else {
              sidebar.classList.add('active')
            }
          item2.classList.remove('ri-arrow-drop-right-line')
          item2.classList.add('ri-arrow-down-s-line')
        }else if (item2.classList.contains('ri-arrow-down-s-line')){
          item2.classList.remove('ri-arrow-down-s-line')
          item2.classList.add('ri-arrow-drop-right-line')

        }
        
        <!-- console.log(item,index,item2, index2) -->
      }
    })
  })
})

</script>