{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
	<title>{{title}}</title>
	

	
</head>
<body>
  
	<div class="container">
	    
		<form id="loginForm" method="POST" action="{% url 'accounts:verification' %}" class="login active">
		  {% csrf_token %}
		 	        
	            
	           
			<h2 class="title">Enter verification code </h2>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}

			<div class="form-group">
				
			<div class="form-group">
				<label for="password">Code</label>
				<div class="input-group">
					<input type="password" pattern=".{6}" id="password" name="code" placeholder="Verification code">
					<i class='bx bx-lock-alt' ></i>
				</div>
				<span class="help-text">A 6 digit code sent your email</span>
			</div>
	
				
			<button type="submit" class="btn-submit">Verify</button>
			</div>
			
			<p>
			    <span id="countdown">timer</span>
			 <a class="btn btn-secondary" id="resendLink" href="{% url 'accounts:verification' %}">Resend code</a>
                  
			
			</p>
			
		</form>
		
		
		
		   
  

<script>
document.addEventListener("DOMContentLoaded", function() {
  var link = document.getElementById("resendLink");
  var countdown = document.getElementById("countdown");
  
  var secondsLeft = 60;
  link.style.display= "none"
  plural='seconds'
  function updateCountdown() {
    countdown.innerText = "You can generate another code after "+ secondsLeft + " "+plural;
    secondsLeft--;
    if(secondsLeft==1){
        plural="second"
    }
    if (secondsLeft < 0) {
      clearInterval(interval);
      countdown.style.display = "none"; 
      link.style.display = "block"; 
    }
  }

  updateCountdown();
  var interval = setInterval(updateCountdown, 1000);
});
</script>



 


        
        
        

	
</body>
</html>
