@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.in-popup{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);

    @include transition;
    i{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
    }


}