

<div>
    <form id="delete-form" hx-post="{{ del_url }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content"> 
        
        <h3 class="in-h1 in-d-block in-pd-20">Are You sure you want to delete {{obj}}</h3>

        <div class="in-d-flex in-justify-around">
            <button type="submit" class="in-btn in-btn-danger in-mg-y-10 ">Delete</button>
            <!-- <button type="button" class="in-btn in-btn-secondary in-mg-y-10 ">Cancel</button> -->
        </div>
    </form>

</div>
<script>
  
    function getItems(){
        if ("{{app_label }}"){

            htmx.ajax('GET', "{% url 'common:item_list' app_label user.company.encrypted_id model_label  %}",{target:'#{{ model_label }}-content'})
        }
    }
    
    function updateItems(){
        const _variables={
        model_name:"{{ model_label }}",
        app_name:"{{ app_label }}"
    
        }
        const modelDiv= document.getElementById("{{ model_label }}")
    
        if (document.getElementById(`delete-form`)){
          console.log('delete-form')
          document.getElementById(`delete-form`).addEventListener('htmx:afterOnLoad',()=>{
            
            getItems()
    
        })
        }
    
    
    }
    updateItems();
    
    </script>


