{% extends "dashboard/wrapper/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block more_meta_tags %}
{% endblock more_meta_tags %}

{% block page_title %}
    Add new {{ type }} 
{% endblock page_title %}

{% block extra_style %}
{% endblock extra_style %}

{% block content %}
{% include 'common/htmx/create_inline.html' %}
<br>




{% endblock content %}

{% block extra_script %}
<script type="module" src="{% static 'assets/js/inline_create_ajax.js' %}"></script>

{% endblock extra_script %}









