<ul class="in-header__navitems in-mg-y-20 in-header__sidebar-md-3 in-header__sidebar-lg-2 in-pd-y-20" id="main-menu">

    <li class="in-header__list">
      <a href="/" style="text-decoration: none;" class="in-header__link--logo in-pd-20 in-d-flex in-align-center in-justify-center">
        <!-- <img src="{% static 'assets/dashboard/images/easin-logo.svg' %}" alt="Ease Dashboard logo"> -->
        <h1 class="in-fs-50">Intera</h1>
      </a>
    </li>

    <li class="in-header__list in-dropdown">
      <a href="#"style="text-decoration:none;" class="in-header__link in-active in-fw-bld in-pd-20 in-d-flex in-align-center in-justify-between"
        data-dropdown-target="submenu">
        <span class="in-fs-14 in-d-flex in-align-center"><i
            class="ri-dashboard-line in-mg-r-10"></i>{{ user.company.name }}{{user.profile.name }} </span>
        <i class="ri-arrow-down-s-line"></i>
      </a>
      <ul class="in-dropdown__menu" id="submenu">

        <li><a href="index.html" class="in-header__sublink in-d-block in-pd-x-20 in-pd-y-10 in-active">Project</a>
        </li>
        <li><a href="ecommerce.html" class="in-header__sublink in-d-block in-pd-x-20 in-pd-y-10">eCommerce</a>
        </li>
      </ul>
    </li>

    
    <li class="in-header__list">
          {% include 'wrapper/wrap/sidebar.html' %}
       
    </li>
    {% modelview_list  user %}
    
    <li class="in-header__list in-header__list--employee-of-month">
      <div class="in-card">
        <img src="{% static 'assets/dashboard/images/employee-month.jpg' %}" alt="Employee of the month">
        <div class="employee-details in-pd-20 in-ta-center">
          <h4>Employee of the month</h4>
          <h2>Casey W.</h2>
          <span class="in-fs-12 in-tt-capitalize">Senior software engineer</span>
        </div>
      </div>
    </li>

    <li class="in-header__list in-pd-x-20">
      <a href="#" class="in-btn in-d-flex in-pd-y-20">
        <span class="in-fs-16 in-d-flex in-align-center"><i class="ri-logout-box-r-line in-mg-r-10"></i>
          Logout 
        </span>
      </a>
    </li>

  </ul>
