{% extends "dashboard/wrapper/base.html" %}
{% load static %}

{% block more_meta_tags %}
    
{% endblock %}



{% block page_title %}
      Intera Inventory
{% endblock page_title %}





{% block extra_style %}
   
{% endblock extra_style %}

{% block content %}

<div class="inventorycategory" style="margin-top:3rem;" id="inventorycategory">
      <div class="inventorycategory-content" id="inventorycategory-content"></div>
      <div class="inventorycategory-form " style="margin-top: 2rem;"id="inventorycategory-form"></div>
</div>

<div class="inventory" style="margin-top:3rem;" id="inventory">
      <div class="inventory-content" id="inventory-content"></div>
      <div class="inventory-form " style="margin-top: 2rem;"id="inventory-form" ></div>
</div>

<div class="salesorder" style="margin-top:3rem;" id="salesorder">
      <div class="salesorder-content" id="salesorder-content"></div>
      <div class="salesorder-form " style="margin-top: 2rem;"id="salesorder-form"></div>
</div>

<div class="purchaseorder" style="margin-top:3rem;" id="purchaseorder">
      <div class="purchaseorder-content" id="purchaseorder-content"></div>
      <div class="purchaseorder-form " style="margin-top: 2rem;"id="purchaseorder-form"></div>
</div>

<div class="returnorder" style="margin-top:3rem;" id="returnorder">
      <div class="returnorder-content" id="returnorder-content"></div>
      <div class="returnorder-form " style="margin-top: 2rem;"id="returnorder-form"></div>
</div>

<div class="stockitem" style="margin-top:3rem;" id="stockitem">
      <div class="stockitem-content" id="stockitem-content"></div>
      <div class="stockitem-form " style="margin-top: 2rem;"id="stockitem-form"></div>
</div>

<div class="stocklocation" style="margin-top:3rem;" id="stocklocation">
      <div class="stocklocation-content" id="stocklocation-content"></div>
      <div class="stocklocation-form " style="margin-top: 2rem;"id="stocklocation-form"></div>
</div>
<div class="model-form" style="margin-top: 6rem;" id="model-form"></div>
   
{% endblock content %}



{% block extra_script %}
    
{% endblock extra_script %}





